.rich-Html-wrap .ms-rtestate-field h2, h2.ms-rteElement-H2 {
    color: #00747f;
    font-size: 1.8em;
    border-bottom: 0px solid #007a87;
    margin-bottom: 0.2em;
    width: 100%;
    line-height: 30px;
}
